# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Environment variables
.env
.env.local
.env.*.local

# Editor and OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
*.tar
docker-compose.override.yml

# Kubernetes / Minikube / Helm
.kube/
.kustomize/
minikube/
helmfile.lock

# Build output
dist/
build/

# Optional: temporary files
tmp/
*.tmp
*.bak
minikube-linux-amd64
