apiVersion: apps/v1
kind: Deployment
metadata: { name: rolling-deployment, labels: { app: rolling-zero } }
spec:
  replicas: 3
  selector: { matchLabels: { app: rolling-zero } }
  strategy:
    type: RollingUpdate
    rollingUpdate: { maxSurge: 1, maxUnavailable: 0 }
  template:
    metadata: { labels: { app: rolling-zero } }
    spec:
      containers:
      - name: rolling-zero
        image: atik2001/zero-downtime-app:latest
        imagePullPolicy: IfNotPresent
        ports: [{ containerPort: 3000 }]
        readinessProbe:
          httpGet: { path: /health, port: 3000 }
          initialDelaySeconds: 2
          periodSeconds: 2
        livenessProbe:
          httpGet: { path: /health, port: 3000 }
          initialDelaySeconds: 10
          periodSeconds: 10
